<h1>Job Folders</h1>

<% if flash[:notice] %>
  <div><%= flash[:notice] %></div>
<% end %>

<div class="content">
  <div class="container-border">
    <h3>Main Job Folders</h3>
    <div class="job-folders-container">
      <% @job_folders.each do |job_folder| %>
        <div class="job-folder">
          <%= job_folder %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container-border">
    <h3>Producer Job Folders</h3>
    <ul class="nav">
      <% @years.each do |year| %>
        <% if year == @year %>
          <li class="active"><%= year %></li>
        <% else %>
          <li class="non-active"><a href='<%= ENV['SUB_DIR'] + "/#{year}" %>'><%= year %></a></li>
        <% end %>
      <% end %>
    </ul>
    <div class="job-folders-container">
      <% @producer_folders.each do |producer_folder| %>
        <div class="job-folder">
          <%= producer_folder %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="button">
  <a href="<%= ENV['SUB_DIR'] %>/job_folders/new">Create Folder</a>
</div>
